*{
    margin: 0px;
}
.main{
    padding-left: 0px;
    padding-right: 0px;
}
.form-inline .search-bar{
    width: 250px;
    margin-right: 10px;
    background-color: rgb(236, 234, 234);
}
.search-button{
    border-radius: 20px;
}
.shadow{
    box-shadow: 3px 3px 2px lightgray;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    
    
}
.user{
    position: absolute;
    right: 0px;
    padding-right:20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 160px;
    height: 70px;
    transition: .5s ease;
    border-style: none;
    border-radius: 0px;
    background-color: white;
    
}
.user:focus{
    box-shadow: none;
}
.user:hover{
    background: rgba(211, 211, 211, 0.5);
    
   
}
.menu{
    position: absolute;
    right: 0px;
    width: 160px;
    font-family: Caveat;
    font-size: 24px;
    text-align: center;
    top:70px;
    z-index: 4;
}
#drop{
    background-color: lightgray;
    transition: .5s ease;
}
#drop:hover{
    background-color: rgba(211, 211, 211, 0.5)
}
a, a:link, a:hover{
    text-decoration: none;
    color: black;
}
.hidden{
    display: none;
}
.navi{
    font-family: "Caveat";
    font-size: 30px;
}
.welcome{
    font-family: "Noto Sans JP";
    font-size: 30px;
    background-color: white;
    border-style: none;
    
}
.main-menu{
    position: relative;
    top: 20px;
}
.chat-box{
    width: 100%;
    height: 500px;
    
}
.chats{
    overflow: scroll;
    width: 100%;
    height: 200px;
    position: relative;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    top: 40px;
    border-radius: 3px;
    border: 2px solid lightgray;
    box-shadow: 3px 3px 2px lightgray;
    
}
#text{
    position:relative;
    left: 210px;
    top: 40px;
    width: 200px;
    height: 60px;
    z-index: 3;
}
#recipient{
    position: relative;
    top: 40px;
    width: 200px;
    height: 60px;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid lightgray;
    box-shadow: 3px 3px 2px lightgray;
}
#chatting{
    position: relative;
    top: 20px;
    width: 100%;
    height: 280px;
    border-radius: 3px;
    border: 2px solid lightgray;
    box-shadow: 3px 3px 2px lightgray;
}
.heading{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
