*{
    margin: 0px;
}

html {
    background-color:lightgray;
    font-family: "Noto Sans JP";
}

.main{
    padding-left: 0px;
    padding-right: 0px;
}

.form-inline .search-bar{
    width: 250px;
    margin-right: 10px;
    background-color: rgb(236, 234, 234);
}
.form-inline .search-bar:focus {
    box-shadow: 0 0 0 3px #ed9aa2;
    border-color: #a61e36;
}

.search-button{
    border-radius: 20px;
}

.shadow{
    box-shadow: 3px 3px 2px lightgray;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.home{
    position: absolute;
    transition: .5s ease;
    right: 8%;
}
.home:focus{
    box-shadow: none;
}
.home:hover{
    background: rgba(237, 154, 162, 0.5);
}

.profile {
    background-color:lightgray;
    height: 650px;
    box-sizing: border-box;
}

.wrapper{
    position: relative;
    top: 20px;
    width: 70%;
    height: 600px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 3px gray;
}
#cover {
    width: 100%;
    margin: 0;
}

#cover + img {
    margin-top: -10%;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 0;
    border-radius: 50%;
    background-color: white;
    border: 3.5px solid white;
    width: 10%;
}

.content-wrapper {
    margin-top: -1%;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
.content-wrapper h1 {
    font-weight: bolder;
}

.user-information {
    width: 70%;
    margin: auto;
}

.col1, .col2 {
    box-sizing: border-box;
}
.col1 {
    font-weight: bold;
    width: 19%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 27%;
    float: left;
}

.col2 {
    width: 27%;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
}
.clearfloating {
    clear: both;
}

#edit-profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #b20837;
    border-color: #b20837;
    margin-top: 60px;
    color: #fec52e;
}

